{# templates/registration/register_apprenant.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Inscription Apprenant{% endblock %}

{% block body %}
<!-- START SECTION TOP -->
<section class="section-top">
    <div class="container">
        <div class="col-lg-10 offset-lg-1 text-center">
            <div class="section-top-title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                <h1>Inscription Apprenant</h1>
            </div><!-- //.HERO-TEXT -->
        </div><!--- END COL -->
    </div><!--- END CONTAINER -->
</section>
<!-- END SECTION TOP -->

<!-- START REGISTER -->
<section class="login_register section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-xs-12">
                <div class="login">
                    <h4 class="login_register_title">Inscrivez-vous :</h4>

                    {{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}
                        <div class="form-group">
                            {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control requiredField input-label', 'placeholder': 'Email'}}) }}
                            {{ form_errors(registrationForm.email) }}
                        </div>

                        

                        <div class="form-group">
                            {{ form_label(registrationForm.username, 'UserName', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control requiredField input-label', 'placeholder': 'username'}}) }}
                            {{ form_errors(registrationForm.username) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(registrationForm.firstName, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control requiredField input-label', 'placeholder': 'Prénom'}}) }}
                            {{ form_errors(registrationForm.firstName) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(registrationForm.lastName, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control requiredField input-label', 'placeholder': 'Nom'}}) }}
                            {{ form_errors(registrationForm.lastName) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(registrationForm.phoneNumber, 'Numéro de téléphone', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(registrationForm.phoneNumber, {'attr': {'class': 'form-control requiredField input-label', 'placeholder': 'Numéro de téléphone'}}) }}
                            {{ form_errors(registrationForm.phoneNumber) }}
                        </div>

                       <div class="form-group">
                            {{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control requiredField input-label', 'placeholder': 'Mot de passe'}}) }}
                            {{ form_errors(registrationForm.plainPassword) }}
                        </div>

                        <div class="form-group col-lg-12">
                            <button type="submit" class="btn_one">S'inscrire</button>
                        </div>
                    {{ form_end(registrationForm) }}

                    <p>Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous ici</a></p>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END REGISTER -->
{% endblock %}