{% extends 'baseDashboard.html.twig' %}

{% block title %}Reponses Management!{% endblock %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}



                <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="mt-0 header-title">Liste Reponses</h4>

                                        <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                        <div class="row">
                                        
                                    </div>

                                        <table id="datatable" class="table table-hover table-striped dt-responsive table-responsive nowrap">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Contenu</th>
                                                <th>Question</th>
                                                <th>Correcte</th>
                                                <th class="text-end">Actions</th>
                                            </tr>
                                            </thead>
    
    
                                            <tbody>
                                            {% for reponse in reponses %}
                                                <tr>
                                                    <td>{{ reponse.id }}</td>
                                                    <td>{{ reponse.contenu }}</td>
                                                    <td>{{ reponse.question }}</td>
                                                    <td>{{ reponse.estCorrecte ? 'Oui' : 'Non' }}</td>
                                                    <td class="text-end">
                                                        <a href="{{ path('dashboard_reponse_show', {'question_id': question.id, 'id': reponse.id}) }}" class="btn btn-info btn-sm">Voir</a>
                                                        <a href="{{ path('dashboard_reponse_edit', {'id': reponse.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                                                        <td>{{ include('dashboard/reponse/deleteReponse.html.twig') }}</td>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="5" class="text-center">Aucune réponse disponible</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        <a href="{{ path('dashboard_reponse_new', {'question_id': question.id}) }}" class="btn btn-primary">Ajouter une nouvelle réponse</a>
                                        </table>
                                        <a href="{{ path('dashboard_quiz') }}" class="btn btn-primary mt-3">Retour à la liste Quiz</a>
                                    </div>

                                </div>

                                </div>
                               
                            </div>
                        </div> <!-- end row -->
                    </div>
                </div>
            </div>

{% endif %}

{% endblock %}
