<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

            <link rel="stylesheet" href="{{asset('assets/bootstrap/css/bootstrap.min.css')}}">		
            <!-- Google Font -->
            <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
            <!-- Font Awesome CSS -->
            <link rel="stylesheet" href="{{asset('assets/fonts/font-awesome.min.css')}}">
            <link rel="stylesheet" href="{{asset('assets/fonts/themify-icons.css')}}">
            <!--- owl carousel Css-->
            <link rel="stylesheet" href="{{asset('assets/owlcarousel/css/owl.carousel.css')}}">
            <link rel="stylesheet" href="{{asset('assets/owlcarousel/css/owl.theme.css')}}">				
            <!--slicknav Css-->
            <link rel="stylesheet" href="{{asset('assets/css/slicknav.css')}}">		
            <!-- MAGNIFIC CSS -->
            <link rel="stylesheet" href="{{asset('assets/css/magnific-popup.css')}}">	
            <!-- animate CSS -->
            <link rel="stylesheet" href="{{asset('assets/css/animate.css')}}">			
            <!-- Style CSS -->					
            <link rel="stylesheet" href="{{asset('assets/css/style.css')}}" />
            <!-- Font Awesome Free Version -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
            <!-- Font Awesome for Brands (Social Media) -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css">
            <!-- Font Awesome 6 for regular icons -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
            <!-- Font Awesome 4 for social media icons -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


        
        {% block stylesheets %}
        {% endblock %}
        
    </head>
    <body>


	<!-- START LOGO WITH CONTACT -->
	<section class="logo-contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="single-top-contact">
						<i class="fa fa-phone"></i>
						<h4> +216 72 100 200</h4>
					</div>
				</div><!--- END COL -->	
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="single-top-contact">							
						<i class="fa fa-envelope"></i>
						<h4><a href="https://wphtml.com/cdn-cgi/l/email-protection#eb8e938a869b878eab8c868a8287c5888486"><span class="cf_email" data-cfemail="305548515d405c55705d51595c1e535f5d">[email&#160;protected]</span></a></h4>	
					</div>
				</div><!--- END COL -->	
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="single-top-contact">
						<i class="fa fa-clock-o"></i>
						<h4>Mon to sat Open: 9am - 6pm</h4>
					</div>
				</div><!--- END COL -->	
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="top_social_profile">
						<ul>
							<li><a href="#" class="top_f_facebook"><i class="fa fa-facebook" title="Facebook"></i></a></li>
							<li><a href="#" class="top_f_twitter"><i class="fa fa-twitter" title="Twitter"></i></a></li>
							<li><a href="#" class="top_f_instagram"><i class="fa fa-instagram" title="Instagram"></i></a></li>
							<li><a href="#" class="top_f_linkedin"><i class="fa fa-linkedin" title="LinkedIn"></i></a></li>
						</ul>
					</div>
				</div><!--- END COL -->						
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END LOGO WITH CONTACT -->


<!-- START NAVBAR -->
<div id="navigation" class="fixed-top navbar-light bg-faded site-navigation">
    <div class="container top_menu_bg">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="site-logo">
                    <a href="{{ path('app_home') }}"><img src="{{ asset('/cognitia.png') }}" alt="" style="width: 120px; height: 60px;"></a>
                </div>
            </div><!--- END Col -->
            
            <div class="col-lg-6 col-md-9 col-sm-8">
                <div class="header_right ">
                    <nav id="main-menu" class="ms-auto">
                        <ul>
                            <li><a class="nav-link" href="{{ path('app_home') }}">Accueil </a></li>
                            <li><a class="nav-link" href="{{ path('app_cours') }}">Courses</a></li>
							<li><a class="nav-link">Instructeur <span class="ti-angle-down"></span></a>
								<ul>
									<li><a class="nav-link" href="{{ path('app_instructeur') }}">Instructeur</a></li>
									{% if is_granted('ROLE_APPRENANT')  or is_granted('ROLE_INSTRUCTEUR') or is_granted('ROLE_ADMIN') %}
									<li><a href="{{path('app_quiz_index')}}">Liste Quiz</a></li>
									<li><a href="{{path('app_certificat_index')}}">Liste Certificat</a></li>
									{% endif %}
								</ul>
							</li>
                            <li><a class="nav-link" href="{{ path('app_about') }}">About Us</a></li>
                            <li><a class="nav-link" href="{{ path('app_contact') }}">Contact</a></li>
                            <li><a class="nav-link" href="{{ path('app_event') }}">Event</a></li>
                        </ul>
                    </nav>
                    <div id="mobile_menu"></div>
                </div>
            </div><!--- END Col -->

            <div class="col-lg-4 col-md-3 col-sm-8 m-none">
                <div class="home_lc">
                    <a href="#" class="hlc">
                        <i class="ti-shopping-cart-full"></i>
                        <span class="gactive">2</span>
                    </a>
                </div>

                <div class="call_to_action">
                    {% if app.user %}
                        <!-- Si l'utilisateur est connecté, afficher le bouton "Logout" -->
                        <a class="btn_two" href="{{ path('app_logout') }}">Logout</a>
                    {% else %}
                        <!-- Si l'utilisateur n'est pas connecté, afficher le bouton "Login" -->
                        <a class="btn_two" href="{{ path('app_login') }}">Login</a>
                    {% endif %}
                </div><!--- END SOCIAL PROFILE -->
            </div><!--- END Col -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</div>  
<!-- END NAVBAR -->


        {% block body %}{% endblock %}

	<!-- START FOOTER -->
	<div class="footer section-padding">
		<div class="container">				
			<div class="row">						
				<div class="col-lg-3 col-sm-6 col-xs-12">
					<div class="single_footer">
						<a href="{{path('app_home')}}"><img src="cognitia.png" style="width: 220px; height: 260px;" alt=""></a>         
					</div>
					<div class="foot_social">
						<ul>
							<li><a href="#" class="top_f_facebook"><i class="fa fa-facebook" title="Facebook"></i></a></li>
							<li><a href="#" class="top_f_twitter"><i class="fa fa-twitter" title="Twitter"></i></a></li>
							<li><a href="#" class="top_f_instagram"><i class="fa fa-instagram" title="Instagram"></i></a></li>
							<li><a href="#" class="top_f_linkedin"><i class="fa fa-linkedin" title="LinkedIn"></i></a></li>
						</ul>						
					</div>				
				</div><!--- END COL -->						
				<div class="col-lg-3 col-sm-6 col-xs-12">
					<div class="single_footer">
						<h4>Courses</h4>
						<ul>
							<li><a href="{{path('app_home')}}">Accueil</a></li>
							<li><a href="{{path('app_cours')}}">Cours</a></li>
							<li><a href="{{path('app_instructeur')}}">Instructeur</a></li>
							<li><a href="{{path('app_event')}}">Evénement</a></li>
						</ul>
					</div>
				</div><!--- END COL -->	
								<div class="col-lg-3 col-sm-6 col-xs-12">
					<div class="single_footer">
						<h4>Courses</h4>
						<ul>
							<li><a href="{{path('app_about')}}">A Propos</a></li>
							<li><a href="{{path('app_contact')}}">Contact Us</a></li>
							<li><a href="{{path('app_login')}}">Login</a></li>
							<li><a href="{{path('app_register_apprenant')}}">Register</a></li>
						</ul>
					</div>
				</div><!--- END COL -->	
				<div class="col-lg-3 col-sm-6 col-xs-12">
					<div class="single_footer">
						<h4>Contact Info</h4>
						<div class="sf_contact">
							<span class="ti-mobile"></span>
							<h3>Phone number</h3>
							<p>+216 57 845 695</p>
						</div>
						<div class="sf_contact">
							<span class="ti-email"></span>
							<h3>Email Address</h3>
							<p>cognitia.info@cognitia.com</p>
						</div>
						<div class="sf_contact">
							<span class="ti-map"></span>
							<h3>Office Address</h3>
							<p>Ariana, Tunisie</p>
						</div>
					</div>
				</div><!--- END COL -->	
			</div><!--- END ROW -->		
			<div class="row fc">
				<div class="col-lg-6 col-sm-6 col-xs-12">
					<div class="footer_copyright">
						<p>&copy; 2025. All Rights Reserved By COGNITIA.</p>
					</div>
				</div>
			</div>				
		</div><!--- END CONTAINER -->
	</div>
	<!-- END FOOTER -->	



	<!-- Latest jQuery -->
		<script data-cfasync="false" src="{{asset('../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-1.12.4.min.js')}}"></script>
	<!-- Latest compiled and minified Bootstrap -->
		<script src="{{asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>			
	<!-- owl-carousel min js  -->
		<script src="{{asset('assets/owlcarousel/js/owl.carousel.min.js')}}"></script>	
	<!-- jquery.slicknav -->
		<script src="{{asset('assets/js/jquery.slicknav.js')}}"></script>			
	<!-- magnific-popup js -->               
		<script src="{{asset('assets/js/jquery.magnific-popup.min.js')}}"></script>
	<!-- jquery mixitup min js -->
		<script src="{{asset('assets/js/jquery.mixitup.js')}}"></script>			
	<!-- scrolltopcontrol js -->
		<script src="{{asset('assets/js/scrolltopcontrol.js')}}"></script>	
	<!-- jquery purecounter vanilla js -->
		<script src="{{asset('assets/js/purecounter_vanilla.js')}}"></script>			
	<!-- WOW - Reveal Animations When You Scroll -->
		<script src="{{asset('assets/js/wow.min.js')}}"></script>				
	<!-- scripts js -->	
		<script src="{{asset('assets/js/scripts.js')}}"></script>	



{% block javascripts %}
        {% endblock %}


    </body>

</html>