{# templates/dashboard/ajoutApprenant.html.twig #}

{% extends 'baseDashboard.html.twig' %}

{% block title %}Ajouter Apprenant{% endblock %}

{% block body %}
<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Ajouter Apprenant</h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ form_start(form) }}
                                        <div class="mb-3">
                                            {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                                        </div>

                                        <div class="mb-3">
                                            {{ form_label(form.plainPassword, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
                                        </div>

                                        <div class="mb-3">
                                            {{ form_label(form.firstName, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                                        </div>

                                        <div class="mb-3">
                                            {{ form_label(form.lastName, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                                        </div>

                                        <div class="mb-3">
                                            {{ form_label(form.phoneNumber, 'Numéro Téléphone', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control', 'placeholder': 'Numéro Téléphone'}}) }}
                                        </div>

                                        <div class="mb-3">
                                            {{ form_label(form.level, 'Niveau', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.level, {'attr': {'class': 'form-control', 'placeholder': 'Niveau'}}) }}
                                        </div>

                                        <button type="submit" class="btn btn-primary waves-effect waves-light">Ajouter</button>
                                    {{ form_end(form) }}
                                </div> <!-- end col -->
                            </div>
                            <!-- end row-->
                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div><!-- end col -->
            </div>
            <!-- end row -->
        </div> 
        <!-- end Content-->
    </div>
</div>
{% endblock %}