{% extends 'baseDashboard.html.twig' %}

{% block title %}Modifier Instructeur{% endblock %}

{% block body %}
<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Modifier Instructeur</h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ form_start(form) }}
                                        <div class="mb-3">
                                            {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': instructeur.email}}) }}
                                        </div>

                                        <div class="mb-3">
                                            {{ form_label(form.firstName, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': instructeur.firstName}}) }}
                                        </div>

                                        <div class="mb-3">
                                            {{ form_label(form.lastName, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': instructeur.lastName}}) }}
                                        </div>

                                        <div class="mb-3">
                                            {{ form_label(form.phoneNumber, 'Numéro Téléphone', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control', 'placeholder': instructeur.phoneNumber}}) }}
                                        </div>

                                        <div class="mb-3">
                                            {{ form_label(form.biographie, 'Biographie', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.biographie, {'attr': {'class': 'form-control', 'placeholder': instructeur.biographie}}) }}
                                        </div>

                                       

                                        <button type="submit" class="btn btn-primary waves-effect waves-light">Modifier</button>
                                    {{ form_end(form) }}
                                </div> <!-- end col -->
                            </div>
                            <!-- end row-->
                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div><!-- end col -->
            </div>
            <!-- end row -->
        </div> 
        <!-- end Content-->
    </div>
</div>
{% endblock %}